<h1> Youtube Dataset Analysis </h1>
<div>
    <form action="/addVideo" method="POST">
        <input type="text" name="YTAddLink" placeholder="Add YT Video to Dataset" style="vertical-align: middle">
        <input type="submit" class='addBtn redBtn' name="addDS" value="Add Video" style="vertical-align: middle"/>
    </form>
    <br>
    <form action="/search" method="POST">
        <input type="text" name="YTSearchBar" placeholder="Search Youtube Dataset">
        <input type="submit" class='searchBtn redBtn' name="searchDS" value="Search" />
        <div class="loadingIndicator">Loading Results ...</div>
    </form>
    <br>
    {{!-- <br>
    <form action="/analytics" method="GET">
        <input type="submit" class='analyticsBtn' name="analyticsRedirect" value="Switch to Analytics" />
    </form> --}}
</div>

<h2 class="SRHeading" style="padding-left: 7px; display: none"> Search Results </h2>
<div id="csvCache" style="display: none">{{{ csvCacheClient }}}</div>
<div id="editDialog" title="Edit Video Information" style="display:none">
    <form action="/editVideo" method="POST">
        <input style="display:none" id="editIndex" name="editIndex" value="-1"></input>
        <div style="display: flex; justify-content: space-between; flex-wrap: wrap; gap: 5px">
            <div class="dialogInputDiv"><label class="dialogInputLabel">Video ID</label>             <input id="videoEdit0" class="dialogInput" type="text" name="video_id"></div>
            {{!-- <div style="display:flex; justify-content: space-around;"><label>Video ID</label>             <input id="videoEdit0" type="text" name="video_id"></div> --}}
            <div class="dialogInputDiv"><label class="dialogInputLabel">Trending Date</label>        <input id="videoEdit1" class="dialogInput" type="text" name="trending_date"></div>
            <div class="dialogInputDiv"><label class="dialogInputLabel">Title</label>                <input id="videoEdit2" class="dialogInput" type="text" name="title"></div>
            <div class="dialogInputDiv"><label class="dialogInputLabel">Channel Title</label>        <input id="videoEdit3" class="dialogInput" type="text" name="channel_title"></div>
            <div class="dialogInputDiv"><label class="dialogInputLabel">Category ID</label>          <input id="videoEdit4" class="dialogInput" type="text" name="category_id"></div>
            <div class="dialogInputDiv"><label class="dialogInputLabel">Publish Time</label>         <input id="videoEdit5" class="dialogInput" type="text" name="publish_time"></div>
            <div class="dialogInputDiv"><label class="dialogInputLabel">Tags</label>                 <input id="videoEdit6" class="dialogInput" type="text" name="tags"></div>
            <div class="dialogInputDiv"><label class="dialogInputLabel">Views</label>                <input id="videoEdit7" class="dialogInput" type="text" name="views"></div>
            <div class="dialogInputDiv"><label class="dialogInputLabel">Likes</label>                <input id="videoEdit8" class="dialogInput" type="text" name="likes"></div>
            <div class="dialogInputDiv"><label class="dialogInputLabel">Dislikes</label>             <input id="videoEdit9" class="dialogInput" type="text" name="dislikes"></div>
            <div class="dialogInputDiv"><label class="dialogInputLabel">Comment Count</label>        <input id="videoEdit10" class="dialogInput" type="text" name="comment_count"></div>
            <div class="dialogInputDiv"><label class="dialogInputLabel">Thumbnail Link</label>       <input id="videoEdit11" class="dialogInput" type="text" name="thumbnail_link"></div>
            <div class="dialogInputDiv"><label class="dialogInputLabel">Comments Disabled</label>    <input id="videoEdit12" class="dialogInput" type="text" name="comments_disabled"></div>
            <div class="dialogInputDiv"><label class="dialogInputLabel">Ratings Disabled</label>     <input id="videoEdit13" class="dialogInput" type="text" name="ratings_disabled"></div>
            <div class="dialogInputDiv"><label class="dialogInputLabel">Video Error/Removed</label>  <input id="videoEdit14" class="dialogInput" type="text" name="video_error_or_removed"></div>
            <div class="dialogInputDiv" style="width:100%;"><label class="dialogInputLabel">Description</label>          <input id="videoEdit15" class="dialogInput" style="width:100%;" type="text" name="description"></div>
        </div>
        <input type="submit" name="save" value="Save">
    </form>
</div>
<div class="right">
    <iframe id="previewVideo" style="display: right" width="560" height="350"
    src = {{{embedVid}}}>
    </iframe>
</div>
<div class="searchResults"> {{{ searchResultsClient }}}  
</div>


{{!-- <h2> Author / Trending Date / Likes </h2> --}}
{{!-- <div class="searchResultsChannel"> {{{ searchResultsChannelClient }}} </div> --}}

<script>
    $(function() {
        var cache = {{{ csvCacheClient }}};
        if(cache.length != 0) { $(".SRHeading").show(); }

        $('#homeNav').css("background-color", $(':root').css("--nav-selected"));  

        // fixes close btn on dialog
        var bootstrapButton = $.fn.button.noConflict() // return $.fn.button to previously assigned value
        $.fn.bootstrapBtn = bootstrapButton            // give $().bootstrapBtn the Bootstrap functionality

        $('#editDialog').dialog({ autoOpen: false, closeText: 'X', modal: true, title: 'Edit Video', width: '40%' });

        $('.dialogInputDiv').click(function(e) {
            $('.dialogInputDiv').css('border', '2px solid lightgrey');
            $('.dialogInputLabel').css('color', '');
            $(this).css('border', '2px solid teal');
            $(this.firstChild).css('color', 'teal');
        });
        
        $('.searchBtn').click(() => {
            $('.loadingIndicator').show();
        });

        $('.editBtn').click(() => {
            console.log("click " + event.target.value);
            $('#editDialog').dialog('open');
        });
    })

    function updateVideoEditor(index) {
        var cache = JSON.parse($('#csvCache').html())
        
        $('#editIndex').attr('value', index);
        $('#videoEdit0').attr('value', cache[index].video_id);
        $('#videoEdit1').attr('value', cache[index].trending_date);
        $('#videoEdit2').attr('value', cache[index].title);
        $('#videoEdit3').attr('value', cache[index].channel_title);
        $('#videoEdit4').attr('value', cache[index].category_id);
        $('#videoEdit5').attr('value', cache[index].publish_time);
        $('#videoEdit6').attr('value', cache[index].tags);
        $('#videoEdit7').attr('value', cache[index].views);
        $('#videoEdit8').attr('value', cache[index].likes);
        $('#videoEdit9').attr('value', cache[index].dislikes);
        $('#videoEdit10').attr('value', cache[index].comment_count);
        $('#videoEdit11').attr('value', cache[index].thumbnail_link);
        $('#videoEdit12').attr('value', cache[index].comments_disabled);
        $('#videoEdit13').attr('value', cache[index].ratings_disabled);
        $('#videoEdit14').attr('value', cache[index].video_error_or_removed);
        $('#videoEdit15').attr('value', cache[index].description);
    }
</script>